.Centered {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 20px 0px;
    width: 100%;
}

.Content-Wrap{
    margin-top: 30px;
}

.Title {
    font-family: "Brush Script MT", cursive;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.Top-Bar {
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(23, 24, 24, 0.5);
    display: flex;
    justify-content: center;
    left: 0px;
    outline: 0.1rem solid transparent;
    padding: 10px 0px;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1;
}

.Top-Bar-Content {
    padding: 0 3.2rem;
    width: 99.8rem;

    @media (max-width: 489px) {
        padding: 0 1rem;
    }
}